:root {
  --primary-text-color: #757575;
  --title-tex-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
}

.web {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.site-nav .link {
  color: var(--title-tex-color);
}

.site-addres a {
  color: var(--primary-text color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-addres a:hover,
.site-addres a:focus {
  color: var(--accent-color);
}

.hero-title {
  color: #ffffff;
}

.portfolio.link,
.section-title {
  color: var(--title-tex-color);
}

.button {
  color: var(--title-tex-color);
  background-color: var(--primary-bg-color);
  font-family: inherit;
}

.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--secondary-bg-color);
}

.portfolio-list .button:hover,
.portfolio-list .button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.address-list {
  font-style: normal;
}

.f-adress {
  color: #ffffff;
}
